.no-projects-found {
    font-size: 20px;
    text-align: center;
    padding: 20px;    
}

.load-more-projects {
    text-align: center;
    margin-bottom: 40px;    
}

.project-grid{
    margin-top: 5%;
}