.project-wrapper {
    border: 1px rgb(96, 139, 168);
    justify-content: center;
    align-items: center;
    display: flex;
}

.project-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 750px;
    margin-top: 5%;
    /*background-color: grey;*/
}

.project-box > :nth-child(1) {
    flex: 1 0 115px;
    margin: 10px;
    align-items: center;
}

.project-box > :nth-child(2) {
    flex: 2 0 75%;
    margin: 10px;
    align-items: center;
    background-color: white;
}

.project-box > :nth-child(3) {
    flex: 1 0 115px;
    margin: 10px;
    align-items: center;
    background-color: white;
}

.project-box > :nth-child(4) {
    flex: 1 0 115px;
    margin: 10px;
    height: 75px;
    align-items: center;
    background-color: white;
}

.project-box > :nth-child(4) {
    flex: 2 0 75%;
    margin: 10px;
    height: 90px;
    align-items: center;
    background-color: white;
}

.project-box > :nth-child(5) {
    flex: 1 0 115px;
    margin: 10px;
    align-items: center;
    background-color: white;
}

.project-box > :nth-child(6) {
    flex: 2 0 75%;
    margin: 10px;
    align-items: center;
    background-color: white;
}

.project-box > :nth-child(7) {
    flex: 1 0 115px;
    margin: 10px;
    align-items: center;
    background-color: white;
}

.project-box > :nth-child(8) {
    flex: 2 0 75%;
    margin: 10px;
    align-items: center;
    background-color: white;
}

.project-box > :nth-child(9) {
    flex: 1 0 115px;
    margin: 10px;
    align-items: center;
    background-color: white;
}

.project-box > :nth-child(10) {
    flex: 2 0 75%;
    margin: 10px;
    align-items: center;
    background-color: white;
}

.project-prop-name {
    font-size: 16px;
    font-weight: bold;
}

.bid-input {
    width: 120px;
}

.place-bid-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
}

.place-bid-form > :nth-child(1) {
    flex-basis: 3px;
}

.place-bid-form > :nth-child(2) {
    margin-left: 10px;
    margin-top: -24px;
}

.place-bid-form > :nth-child(3) {
    flex: 1 1 75%;
    margin-left: 2%;
}
